.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hiddenContainer {
    top: -100%;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 5rem;
    text-align: center;
    background-color: rgb(240, 239, 239);
    padding: 2rem 3rem;
    border: 2px solid black;
    border-radius: 1rem;
    transition: 0.5s;
}

.hiddenModal {
    color: red;
    transition: 1s;
    opacity: 0;
}


.modalClose {
    display: block;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width:500px) {

    .modal {
        font-size: 3rem;
        padding: 1rem 1.5rem;
        transform: translateY(-3rem);
    }
}